.userWrapper {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    225deg,
    rgb(247, 169, 227, 0.5),
    rgb(31, 208, 228, 0.5)
  );
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-infor {
  max-width: 1500px;
}
