.userWrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    225deg,
    rgb(247, 169, 227, 0.5),
    rgb(31, 208, 228, 0.5)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
