@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Playfair+Display:wght@600&display=swap");

html,
body {
  min-height: 100vh;
}

.page {
  display: flex;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
}

.my-container {
  width: 100%;
  min-height: 100vh;
  background: url("../assets/bg.jpg") no-repeat center center/cover;
}

.register-form-button,
.login-form-forgot {
  float: right;
}

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-banner {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 3%;
  min-height: 100%;
  background-color: aliceblue;
  border-radius: 10px;
}

/* /////////////////////// */

.banner-infor {
  width: 60%;
  min-height: 100%;
  background-color: rgb(248, 247, 226);
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 5px 5px 2px rgb(78, 76, 76);
}

.infor {
  display: grid;
  min-height: 100%;
  width: 100%;
}

.user-infor {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user {
  display: flex;
  width: 100%;
  justify-content: center;
}

.p-infor {
  font-weight: bold;
  font-size: 1em;
}

.p-infor2 {
  font-weight: bold;
  font-size: 1em;
  color: rgb(255, 94, 0);
}

.title {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(255, 94, 0);
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .p-infor {
    font-size: 1em;
  }
  .title {
    font-size: 2em;
  }
  .banner-infor {
    min-height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .p-infor {
    font-size: 1em;
  }
  .title {
    font-size: 2em;
  }
}

@media only screen and (max-width: 399px) {
  .banner-infor {
    width: 90%;
  }
  .title {
    font-size: 1em;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .register-form-button {
    float: left;
    margin-top: 2%;
  }
  .p-infor {
    font-size: 1em;
  }
  .title {
    font-size: 1em;
  }
  .banner-infor {
    width: 90%;
  }
}
